<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=SG2327780W2\SQLSTANDARD2017;Initial Catalog=scboilerplate.sitecore.core;Persist Security Info=True;User ID=scboilerplatedbuser;Password=123456asdf789" />
  <add name="master" connectionString="Data Source=SG2327780W2\SQLSTANDARD2017;Initial Catalog=scboilerplate.sitecore.core;Persist Security Info=True;User ID=scboilerplatedbuser;Password=123456asdf789" />
  <add name="web" connectionString="Data Source=SG2327780W2\SQLSTANDARD2017;Initial Catalog=scboilerplate.sitecore.core;Persist Security Info=True;User ID=scboilerplatedbuser;Password=123456asdf789" />
  
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  
  <!-- 
  <add name="reporting.apikey" connectionString="" />
  <add name="sessions" connectionString="user id=sa;password=12345;data source=.\SQL2016;database=Sitecore_Sitecore.Sessions" />
  <add name="exm.master" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_EXM.Master" />
  <add name="reporting" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Analytics" />
  <add name="xdb.processing.tasks" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Processing.Tasks" />
  <add name="experienceforms" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_ExperienceForms" />
  <add name="messaging" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore.Messaging" />
  <add name="xdb.processing.pools" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Processing.Pools" />
  <add name="xdb.referencedata" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_ReferenceData" />
  <add name="xdb.marketingautomation" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_MarketingAutomation" />
  <add name="xconnect.collection" connectionString="https://Sitecore_xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://Sitecore_xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue=" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://Sitecore_xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue=" />
  <add name="xdb.referencedata.client" connectionString="https://Sitecore_xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue=" />
  <add name="solr.search" connectionString="http://localhost:8983/solr" />
  <add name="EXM.CryptographicKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
  <add name="EXM.AuthenticationKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
  -->
</connectionStrings>