<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.SharedPageContent" description="Foundation Shared Page Content" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\SharedPageContent\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.SharedPageContent.Templates" database="master" path="/sitecore/templates/scboilerplate/Foundation/Shared Page Content" />
            <include name="Foundation.SharedPageContent.Renderings" database="master" path="/sitecore/layout/renderings/scboilerplate/Foundation/Shared Page Content" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>