<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Wogaa Url -->
      <setting name="ILightWogaaUrl" value="//assets.adobedtm.com/a63ef04a8a06d4763abe9b28a8d967e7e749d199/satelliteLib-db3891214175cc48594c242657d262be8297f3d8-staging.js" />
      <!-- Google Analytics Code-->
      <setting name="ILightGoogleAnalyticsKey" value="UA-1472842-26" />
    </settings>
  </sitecore>
</configuration>
