<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Website" description="Porject Content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Project.Common.Website,Project.Demo.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\scboilerplate\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <!-- Website -->
            <include name="scboilerplate.Website.Templates" database="master" path="/sitecore/templates/scboilerplate/Project" />
            <include name="scboilerplate.Website.Renderings" database="master" path="/sitecore/layout/renderings/scboilerplate/Project" />
            <include name="scboilerplate.Website.Layouts" database="master" path="/sitecore/layout/Layouts/scboilerplate/Project" />
            <!--<include name="scboilerplate.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/scboilerplate/Project" />-->
           
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\project\scboilerplate\serialization\Project.scboilerplate.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="scboilerplate" pattern="^Project scboilerplate .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\scboilerplate\serialization\Project.scboilerplate.Users" singleInstance="true"/>
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="scboilerplate" pattern="^((?!Anonymous).)*$" />
          </userPredicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>