<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- <domainManager>
      <domains>
        <domain id="scboilerplate" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
          <param desc="name">$(id)</param>
          <ensureAnonymousUser>true</ensureAnonymousUser>
        </domain>
      </domains>
    </domainManager> -->
    <sites>
      <site name="scboilerplate" patch:after="site[@name='modules_website']"
            hostName="sc9helix.local"
            database="master"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/scboilerplate"
            dictionaryPath="/sitecore/content/scboilerplate/global/dictionary"
            dictionaryAutoCreate="false"
            domain="extranet"
            allowDebug="true"
            cacheHtml="false"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB"
            formsRoot="{F1F7AAB6-C8CE-422F-A214-F610C109FA63}"
            enableItemLanguageFallback="true" />
    </sites>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="scboilerplate">scboilerplate</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="scboilerplate">scboilerplate</site>
          </sites>
        </handler>
      </event>
    </events>
    <cacheSizes>
      <sites>
        <scboilerplate>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </scboilerplate>
      </sites>
    </cacheSizes>
    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="scboilerplate" />
      </setting>
    </settings>
  </sitecore>
</configuration>
