<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ServerTimeZone" value="Singapore Standard Time" />
      <!-- Recaptcha private/secret key -->
      <setting name="WFM.RecaptchaSecretKey" value="6Ld6UBETAAAAAAdwqZqpGuUVE_ei2KPn_J_tX8sm" />
      <!-- Recaptcha public/site key -->
      <setting name="WFM.RecaptchaSiteKey" value="6Ld6UBETAAAAAKg2N4lT9R8B1PHzvSmdq5HhXrOL" />
    </settings>
  </sitecore>
</configuration>