<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="scboilerplate.Foundation.SitecoreExtensions.Pipelines.Custom404Processor,scboilerplate.Foundation.SitecoreExtensions" patch:before="*[@type='Sitecore.ContentTesting.Pipelines.HttpRequest.ForcedEditingTestCombination, Sitecore.ContentTesting']" />
      </httpRequestBegin>
    </pipelines>
    <settings>
      <setting name="ilightItemNotFoundUrl" value="/404" />
    </settings>
  </sitecore>
</configuration>
